


*{  
    
    font-family : "Comic Sans MS";
      justify-content: space-between
    
   
}
h2{
  
    font-family:"Verdana";
    display:flex;
    justify-content:center
    
}  
h3{
    color:#6C91E7;

    text-align: left;
  }
p{
   font-size:20px;
   background-color: #00FFFF;
    font-family:"Verdana";
    justify-content: space-between
}

li{
  
    font: size 20px;
   
     font-family:"Verdana";
     justify-content: space-between;
     flex-wrap:wrap;
    

}
.animal{

      margin-bottom: 50px;
      border: dashed;

}
.item p {
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  opacity: 0;

}
.item:hover p {
  opacity:1 ;

}
.item:hover img{
  opacity: 0.5;
}